html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: 1em;
  line-height: 1.5;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

a:hover
{
  text-decoration: underline;
}

h1 {
  margin-top: 5rem;
}

h3 {
  margin-top: 3rem;
}

/* Site header */
header {
  border-bottom: 0.1em solid #e8e8e8;
  min-height: 3em;

  margin: 0;
}

.site-title {
  display: block;

  float: left;
  position: relative;
  z-index: 1;

  line-height: 4.5em;
  font-weight: bold;
}

.site-nav {
  float: right;
  line-height: 4.5em;
}

.site-nav .menu-icon {
  display: none;
  color: #505050;
}

.site-nav .page-link {
  margin-left: 1em;
}

.wrap:before, .wrap:after {
  content: "";
  display: table;
}

.wrap:after {
  clear: both;
}

.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Page content */
.page-content {
  padding: 2em 0;
}

.on-line-logo {
  height: 2rem;
  vertical-align: middle;
}

@media screen and (max-width: 750px) {
  .wrap {
      padding: 0 1em;
  }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 1.5em;
    right: 1em;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 1.5em;
    float: right;
    width: 2em;
    text-align: center;
    line-height: 1em;
  }

  .site-nav .menu-icon svg {
    width: 1em;
    height: 1em;
  }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;

    border-radius: 5px;
  }

  .site-nav:hover .trigger {
    display: block;
    background-color: #FFCF99; /* Slightly ligher than holo accent color FF8800 */

    border-radius: 5px;
    box-shadow: 0.1em 0.1em #0E0E0E;
  }
  @media (prefers-color-scheme: dark) {
    .site-nav:hover .trigger {
      background-color: #FF8800 !important;
    }
  }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
    html, body {
      color: white;
      background-color: #0E0E0E;
    }

    a {
      color: white;
    }

    .site-nav .menu-icon svg path {
      fill: white;
    }
}
